# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Google Credentials
credentials.json
credentials.json.json

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db